*{
  padding: 0px;
  margin: 0px;
}

html, body{
  width: 100%;
  height: 100%;
  min-height: 100%;
}

.header-color{
  background-color: #184e94;
}

.navbar{
  margin-bottom: 0 !important;
  background-color: #184e94 !important;
  color: #FFF !important;
}

.navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
  padding-left: 10px;
}

.navbar .navbar-collapse {
  text-align: center;
}

.navbar-brand
{
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    text-align: center;
    margin: auto;
}


ul.nav li a{
  color: black;
}

ul.nav li a:hover, ul.nav li a::after {
  background-color: black;
  color: black !important;
}

.space{
  width: 100%;
  height: 100%;
  min-height: 100%;
  background-image: url("../assets/img/Space.jpg");
  background-repeat: no-repeat;
  overflow-y: hidden;
}

.navbar-nav > li{
  margin-left:125px;
  margin-right:125px;
}

.logo{
  width: 150px;
  height: 50px;
  margin: -60px auto 0 auto;
  background-attachment: fixed;
}


.trapezoid {
	border-top: 50px solid grey;
	border-left: 50px solid transparent;
	border-right: 50px solid transparent;
	height: 0;
	width: 300px;
  overflow: visible;
  z-index: 10;
  margin: 0 auto 0 auto !important;
}
